* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #711723
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #fffaee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group label {
    min-width: 110px;
    font-weight: 500;
}

.form-group input {
    flex: 1;
}

.container h1 {
    font-family: 'Croissant One';
    font-size: 32px;
    color: #860d1d;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container label, button {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6b1010;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
}

button:hover {
    background-color: #be1515;
}

input {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
}

.erro-msg {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    min-height: 20px;
}

.mensagem-sucesso {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00cc00;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}